<link rel="stylesheet" type="text/css" href="/css/about.css">
<div class="message-box">
   <h1 id="Polygon-3">About</h1>
   <h1> </h1>
  <h1 id="Polygon-1">Raidan Malik Sandra</h1>
  <p id="Polygon-1">2011523007</p>
  <h1 id="Polygon-2"></h1>
  <p id="Polygon-2"></p>
  <h1 id="Polygon-3"></h1>
  <p id="Polygon-3"></p>
  <h1 id="Polygon-4"></h1>
  <p id="Polygon-4"></p>
  <h1 id="Polygon-5"></h1>
  <p id="Polygon-5"></p>
  <div class="buttons-con">
    <div class="action-link-wrap">
      <a onclick="history.back(-1)" class="link-button link-back-button">Kembali</a>
      <a href="/" class="link-button">Menu Utama</a>
    </div>
  </div>
</div>
