<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/DashboardMahasiswa.css">
  <title>Dashboard Mahasiswa</title>
</head>
<body>
  <div class="dashboard-mahasiswa">
    <div class="container-5">
      <div class="container-4">
        <div class="line-12"></div>
        <div class="line-13"></div>
      </div>
      <div class="nama-mahasiswa">
        <%= namaMahasiswa %>
      </div>
      <div class="nim-mahasiswa">
        <%= nimMahasiswa %>
      </div>
      <div class="line-14"></div>
      <div class="progress-saya">
        Progress Saya
      </div>
      <div class="penjadwalan">
        Penjadwalan
      </div>
      <div class="container-2">
        <span class="notifikasi">
          Notifikasi
        </span>
        <div class="container-1">
          <div class="line-18"></div>
          <div class="line-19"></div>
        </div>
      </div>
      <div class="chat">
        Chat 
      </div>
      <span class="logout">
        Logout
      </span>
    </div>
    <div class="container-3">
      <div class="container">
        <div class="line-7"></div>
        <div class="image-1"></div>
        <div class="halo-nama-mahasiswa-ayo-selesaikan-tugas-akhirmu-agar-cepat-lulus">
          Halo, <%= namaMahasiswa %><br>
          Ayo selesaikan Tugas Akhirmu<br>
          agar cepat lulus!
        </div>
        <div class="nama-dosen-sedang-memantau-progress-tugas-akhirmu-lho">
          <%= namaDosen %> sedang memantau progress <br>
          Tugas Akhirmu lho.
        </div>
        <div class="image-2"></div>
      </div>
      <div class="line-8"></div>
    </div>
  </div>
</body>
</html>
