<%- include('sidebar'); -%>

<div id="container">
  <div class="jumbotron">
    <br />
    <h4>Cari Penjadwalan Tugas Akhir</h4>
    <form action="/mahasiswa/cari" class="search-form">
      <i class="bx bx-search"></i>
      <input type="search" name="term" placeholder="Cari Penjadwalan Tugas Akhir Disini" />
      <input type="submit" value="Search" />
    </form>
  </div>
  <div>
    
  </div>
</div>

<%- include('../partials/footer'); -%>
