.dikoreksi .container-3 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 48px;
  color: #000000;
}
.dikoreksi .container-10 {
  border-radius: 37.5px;
  background: #D9D9D9;
  position: relative;
  margin-right: 52px;
  display: flex;
  padding: 3px 0.6px 0 0;
  width: 75px;
  box-sizing: border-box;
}
.dikoreksi .progress-ke-x {
  margin: 15px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 30px;
  color: #000000;
}
.dikoreksi .container-14 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.dikoreksi .ddmmyyyy-hhmm-wib {
  margin: 2px 0 7px 0;
  display: inline-block;
  text-align: right;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.dikoreksi .container-5 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 67px 80px 32px 58px;
  width: 1440px;
  box-sizing: border-box;
}
.dikoreksi .line-15 {
  background: rgba(0, 0, 0, 0.5);
  margin: 0 70px 31px 70px;
  width: 1300px;
  height: 1px;
}
.dikoreksi .rectangle-49 {
  background: #FAFF00;
  position: absolute;
  left: 314px;
  top: 353px;
  width: 512px;
  height: 25px;
}
.dikoreksi .dosen-pembimbing-judul-progress {
  margin-right: 23.3px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 22px;
  color: #000000;
}
.dikoreksi .nama-dosen-pembimbing-subjek-dokumen-yang-disubmit {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.dikoreksi .container-18 {
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
  margin-bottom: 34px;
  display: flex;
  flex-direction: row;
  padding: 28px 0 39px 39px;
  width: 1300px;
  box-sizing: border-box;
}
.dikoreksi .xy {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
.dikoreksi .container {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-right: 15px;
  display: flex;
  padding: 6px 19.4px 4px 19.4px;
  width: 80px;
  box-sizing: border-box;
}
.dikoreksi .download {
  background: url('assets/images/Download.png') 50% / cover no-repeat;
  width: 28px;
  height: 28px;
}
.dikoreksi .container-17 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 6px 14px 6px 15px;
  width: 57px;
  height: 40px;
  box-sizing: border-box;
}
.dikoreksi .container-19 {
  border-radius: 25px 25px 0 0;
  background: #C3C0C0;
  position: relative;
  margin-bottom: 33px;
  display: flex;
  flex-direction: row;
  padding: 18px 0 14px 0;
  width: 1297px;
  box-sizing: border-box;
}
.dikoreksi .bab-ii {
  margin: 0 5px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Times New Roman', 'Roboto Condensed';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.dikoreksi .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-proin-convallis-sapien-sem-ut-pretium-augue-vestibulum-quis-sed-pharetra-justo-neque-vitae-molestie-purus-viverra-in-sed-gravida-mauris-ut-dictum-dictum-phasellus-quis-lobortis-eros-quis-mollis-odio-ut-dui-ligula-luctus-ut-ipsum-vel-faucibus-tristique-dui-cras-risus-augue-condimentum-at-consequat-id-semper-id-nunc-aenean-accumsan-tortor-arhoncus-facilisis-nam-dignissim-leo-in-eleifend-dictum-ut-tempor-semper-tellus-mollis-cursus-in-hendrerit-aest-eget-sagittis-curabitur-porta-tortor-sit-amet-tincidunt-elementum-aenean-volutpat-dictum-odio-quis-sollicitudin-velit-commodo-apellentesque-vitae-ornare-sapien-donec-in-auctor-libero-nulla-lacinia-egestas-vestibulum-vestibulum-consequat-tellus-anulla-condimentum-rutrum-nulla-luctus-sapien-non-velit-aliquam-quis-pretium-ipsum-hendrerit-suspendisse-risus-diam-tincidunt-sed-justo-et-molestie-congue-risus-integer-at-enim-dignissim-tincidunt-sem-sed-semper-mi-etiam-vitae-lobortis-tortor-nulla-tincidunt-massa-sapien-sed-venenatis-ipsum-laoreet-id-vestibulum-dictum-risus-nec-nulla-scelerisque-mollis-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-nisi-risus-dignissim-in-mauris-eget-tempor-sodales-leo-phasellus-in-nibh-libero-nullam-suscipit-purus-in-dui-facilisis-scelerisque-nulla-nec-gravida-dolor-nullam-quis-nunc-vel-mauris-auctor-vulputate-quisque-pulvinar-lectus-eget-metus-malesuada-pellentesque-phasellus-pellentesque-luctus-dui-vel-ornare-est-convallis-eu-nunc-dictum-vehicula-elementum-donec-vel-odio-sagittis-vulputate-est-eu-semper-turpis-suspendisse-elementum-pharetra-elit-in-feugiat {
  margin: 0 77.7px 0 47px;
  overflow-wrap: break-word;
  font-family: 'Times New Roman', 'Roboto Condensed';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.dikoreksi .container-12 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.dikoreksi .container {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FAFF00;
}
.dikoreksi .container-13 {
  border-radius: 15px;
  background: #000000;
  position: absolute;
  top: 169px;
  right: 459px;
  display: flex;
  padding: 0 11.5px 0 11px;
  box-sizing: border-box;
}
.dikoreksi .container-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FAFF00;
}
.dikoreksi .container-2 {
  border-radius: 15px;
  background: #000000;
  position: absolute;
  right: 444px;
  bottom: 211px;
  display: flex;
  padding: 0 9.6px 0 9px;
  box-sizing: border-box;
}
.dikoreksi .container-2 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #FAFF00;
}
.dikoreksi .container-7 {
  border-radius: 15px;
  background: #000000;
  position: absolute;
  right: 119px;
  bottom: 64px;
  display: flex;
  padding: 0 8.9px 0 9px;
  box-sizing: border-box;
}
.dikoreksi .container-16 {
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  padding-bottom: 70px;
  box-sizing: border-box;
}
.dikoreksi .rectangle-50 {
  background: #FAFF00;
  position: absolute;
  left: 95px;
  bottom: 199px;
  width: 741px;
  height: 25px;
}
.dikoreksi .rectangle-51 {
  background: #FAFF00;
  position: absolute;
  right: 138px;
  bottom: 52px;
  width: 774px;
  height: 25px;
}
.dikoreksi .container-9 {
  position: relative;
  margin: 0 0 24px 3px;
  display: flex;
  box-sizing: border-box;
}
.dikoreksi .line-31 {
  background: #000000;
  transform: rotate(-51.52deg);
  margin: 0 0px 5px 6px;
  width: 31px;
  height: 1px;
}
.dikoreksi .line-30 {
  background: #000000;
  transform: rotate(37.117deg);
  width: 37px;
  height: 1px;
}
.dikoreksi .container-1 {
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.35);
  position: relative;
  margin-right: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 9px 37px 4px;
  width: 50px;
  box-sizing: border-box;
}
.dikoreksi .nama-dosen-pembimbing {
  margin: 14px 0 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}
.dikoreksi .container-8 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.dikoreksi .ddmmyyyy-hhmm-wib-1 {
  margin-top: 9px;
  display: inline-block;
  text-align: right;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
.dikoreksi .container-6 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1201px;
  box-sizing: border-box;
}
.dikoreksi .yang-perlu-direvisi-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.dikoreksi .container-11 {
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.7);
  position: relative;
  margin: 0 0 13px 6px;
  padding: 17px 65.8px 11px 65.8px;
  width: fit-content;
  box-sizing: border-box;
}
.dikoreksi .yang-perlu-direvisi-2 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.dikoreksi .container-20 {
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.7);
  position: relative;
  margin: 0 3px 13px 10px;
  padding: 18px 67.2px 19px 67.2px;
  width: fit-content;
  box-sizing: border-box;
}
.dikoreksi .yang-perlu-direvisi-3 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.dikoreksi .container-3 {
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.7);
  position: relative;
  margin: 0 3px 0 10px;
  padding: 17px 68px;
  width: fit-content;
  box-sizing: border-box;
}
.dikoreksi .container-4 {
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #FFFFFF;
  position: relative;
  margin-left: 9px;
  display: flex;
  flex-direction: column;
  padding: 26px 48px 34px 42px;
  width: fit-content;
  box-sizing: border-box;
}
.dikoreksi .container-15 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.dikoreksi .frame-1 {
  position: relative;
  margin: 0 70px;
  display: flex;
  box-sizing: border-box;
}
.dikoreksi {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
