.progress-3 .ellipse-8 {
  border-radius: 37.5px;
  background: #D9D9D9;
  position: absolute;
  left: 58px;
  top: 74px;
  width: 75px;
  height: 75px;
}
.progress-3 .container {
  position: relative;
  margin: 5px 36px 0 0;
  display: inline-block;
  width: 100px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 48px;
  color: #000000;
}
.progress-3 .belum-dikoreksi {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.progress-3 .container-14 {
  border-radius: 50px;
  background: #A4A4A4;
  position: relative;
  margin-bottom: 2px;
  display: flex;
  padding: 20px 0.8px 19px 0;
  width: 453px;
  height: fit-content;
  box-sizing: border-box;
}
.progress-3 .riwayat-koreksi {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}
.progress-3 .container-7 {
  border-radius: 50px;
  border: 1px solid #000000;
  position: relative;
  margin-bottom: 2px;
  display: flex;
  padding: 20px 0.5px 19px 0;
  width: 453px;
  height: fit-content;
  box-sizing: border-box;
}
.progress-3 .container-11 {
  margin: 0 118px 45px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1171px;
  box-sizing: border-box;
}
.progress-3 .line-15 {
  background: rgba(0, 0, 0, 0.5);
  margin: 0 7px 44px 6px;
  width: 1300px;
  height: 1px;
}
.progress-3 .cari-berdasarkan-nama-mahasiswa-atau-nim {
  margin: 11px 16.5px 6px 0;
  display: inline-block;
  width: 1107.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 22px;
  color: rgba(80, 80, 80, 0.65);
}
.progress-3 .line-21 {
  background: #000000;
  transform: rotate(-40.732deg);
  margin-left: 2px;
  width: 36.8px;
  height: 1px;
}
.progress-3 .line-20 {
  background: #000000;
  transform: rotate(44.17deg);
  margin-right: 3.8px;
  width: 35px;
  height: 1px;
}
.progress-3 .container-1 {
  border-radius: 25px;
  background: #D9D9D9;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9.3px 6.2px 39px 5px;
  width: 50px;
  height: fit-content;
  box-sizing: border-box;
}
.progress-3 .container-13 {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 7px 45px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 19px 52px 18px 80px;
  width: 1306px;
  box-sizing: border-box;
}
.progress-3 .line-55 {
  background: #000000;
  transform: rotate(45deg);
  position: relative;
  width: 165px;
  height: 1px;
}
.progress-3 .line-56 {
  background: #000000;
  transform: rotate(-45deg);
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 165px;
  height: 1px;
}
.progress-3 .container-4 {
  background: #FFFFFF;
  position: relative;
  margin: 0 0 40px 21px;
  display: flex;
  padding: 0px 0px 0 0;
  width: 165px;
  height: 165px;
  box-sizing: border-box;
}
.progress-3 .progress-ke-xnim-nama-mahasiswa-subjek-dokumen-2 {
  margin-bottom: 40px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}
.progress-ke-xnim-nama-mahasiswa-subjek-dokumen-2-sub15 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.progress-ke-xnim-nama-mahasiswa-subjek-dokumen-2-sub14 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 25px;
  line-height: 1.333;
}
.progress-ke-xnim-nama-mahasiswa-subjek-dokumen-2 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
}
.progress-3 .koreksi-2 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.progress-3 .container {
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin-left: 20px;
  display: flex;
  padding: 18px 0.5px 18px 0;
  width: 238px;
  box-sizing: border-box;
}
.progress-3 .container-8 {
  border-radius: 25px;
  background: rgba(217, 217, 217, 0.5);
  position: relative;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 67px 0 35px 0;
  width: 398px;
  height: fit-content;
  box-sizing: border-box;
}
.progress-3 .line-57 {
  background: #000000;
  transform: rotate(45deg);
  position: relative;
  width: 165px;
  height: 1px;
}
.progress-3 .line-58 {
  background: #000000;
  transform: rotate(-45deg);
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 165px;
  height: 1px;
}
.progress-3 .container-5 {
  background: #FFFFFF;
  position: relative;
  margin: 0 0 40px 21px;
  display: flex;
  padding: 0px 0px 0 0;
  width: 165px;
  height: 165px;
  box-sizing: border-box;
}
.progress-3 .progress-ke-xnim-nama-mahasiswa-subjek-dokumen {
  margin-bottom: 40px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}
.progress-ke-xnim-nama-mahasiswa-subjek-dokumen-sub15 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.progress-ke-xnim-nama-mahasiswa-subjek-dokumen-sub14 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 25px;
  line-height: 1.333;
}
.progress-ke-xnim-nama-mahasiswa-subjek-dokumen {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
}
.progress-3 .koreksi {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.progress-3 .container-6 {
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin-left: 20px;
  display: flex;
  padding: 18px 0.5px 18px 0;
  width: 238px;
  box-sizing: border-box;
}
.progress-3 .container-3 {
  border-radius: 25px;
  background: rgba(217, 217, 217, 0.5);
  position: relative;
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 67px 0 35px 0;
  width: 398px;
  height: fit-content;
  box-sizing: border-box;
}
.progress-3 .line-59 {
  background: #000000;
  transform: rotate(45deg);
  position: relative;
  width: 165px;
  height: 1px;
}
.progress-3 .line-60 {
  background: #000000;
  transform: rotate(-45deg);
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 165px;
  height: 1px;
}
.progress-3 .container-9 {
  background: #FFFFFF;
  position: relative;
  margin: 0 0 40px 21px;
  display: flex;
  padding: 0px 0px 0 0;
  width: 165px;
  height: 165px;
  box-sizing: border-box;
}
.progress-3 .progress-ke-xnim-nama-mahasiswa-subjek-dokumen-1 {
  margin-bottom: 40px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}
.progress-ke-xnim-nama-mahasiswa-subjek-dokumen-1-sub15 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.progress-ke-xnim-nama-mahasiswa-subjek-dokumen-1-sub14 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 25px;
  line-height: 1.333;
}
.progress-ke-xnim-nama-mahasiswa-subjek-dokumen-1 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
}
.progress-3 .koreksi-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.progress-3 .container-2 {
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin-left: 20px;
  display: flex;
  padding: 18px 0.5px 18px 0;
  width: 238px;
  box-sizing: border-box;
}
.progress-3 .container-12 {
  border-radius: 25px;
  background: rgba(217, 217, 217, 0.5);
  position: relative;
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 67px 0 35px 0;
  width: 398px;
  height: fit-content;
  box-sizing: border-box;
}
.progress-3 .container-15 {
  margin-left: 11px;
  display: flex;
  flex-direction: row;
  column-gap: 54px;
  width: 1302px;
  box-sizing: border-box;
}
.progress-3 .container-10 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1313px;
  height: fit-content;
  box-sizing: border-box;
}
.progress-3 .line-16 {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 240px;
  right: 230px;
  width: 1px;
  height: 88px;
}
.progress-3 {
  background: #FFFFFF;
  display: flex;
  padding: 74px 69px 83px 58px;
  width: 1440px;
  box-sizing: border-box;
}
