.wireframe-1 .line-33 {
  background: #000000;
  transform: rotate(-35.417deg);
  margin-bottom: 228px;
  width: 1440px;
  height: 1px;
}
.wireframe-1 .monitoring-tugas-akhir-mahasiswa-masuk-ke-akun-anda-sebagai {
  margin-bottom: 59px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.monitoring-tugas-akhir-mahasiswa-masuk-ke-akun-anda-sebagai-sub41 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.333;
}
.monitoring-tugas-akhir-mahasiswa-masuk-ke-akun-anda-sebagai {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.333;
}
.wireframe-1 .container {
  width: 31px;
  height: 1px;
}
.wireframe-1 .container-5 {
  border-radius: 20px;
  background: #D9D9D9;
  position: relative;
  margin: 19px 34px 16px 0;
  display: flex;
  padding: 8px 5px 0 4px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.wireframe-1 .line-34 {
  background: rgba(0, 0, 0, 0.5);
  margin-right: 60.4px;
  width: 1px;
  height: 75px;
}
.wireframe-1 .dosen {
  margin: 19px 0 20px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.wireframe-1 .container-1 {
  border-radius: 50px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 38px;
  display: flex;
  flex-direction: row;
  padding: 1px 0 0 46px;
  width: 480px;
  box-sizing: border-box;
}
.wireframe-1 .container-6 {
  width: 29px;
  height: 1px;
}
.wireframe-1 .container-2 {
  border-radius: 20px;
  background: #D9D9D9;
  position: relative;
  margin: 17px 34px 18px 0;
  display: flex;
  padding: 9px 5px 0 6px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.wireframe-1 .line-35 {
  background: rgba(0, 0, 0, 0.5);
  margin-right: 60.3px;
  width: 1px;
  height: 75px;
}
.wireframe-1 .mahasiswa {
  margin: 20px 0px 19px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.wireframe-1 .container-3 {
  border-radius: 50px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 1px 0 0 46px;
  width: 480px;
  box-sizing: border-box;
}
.wireframe-1 .container-4 {
  border-radius: 50px;
  background: #D9D9D9;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 108px 0 126px 0;
  width: 912px;
  box-sizing: border-box;
}
.wireframe-1 .container-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.wireframe-1 .line-32 {
  background: #000000;
  transform: rotate(35.682deg);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 14px;
  height: 1px;
}
.wireframe-1 {
  background: #FFFFFF;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
